# GitHub Personal Access Token (PAT)
# A classic token with `read:user`, `read:email` and `read:org` permissions
# Required since we are using the GraphQL endpoint
GITHUB_TOKEN=your_github_personal_access_token_here
