# GitHub Personal Access Token (PAT)
# A classic token with `read:user`, `read:email` and `read:org` permissions
# Required since we are using the GraphQL endpoint
GITHUB_TOKEN=your_github_personal_access_token_here

# Upstash Redis (Optional - used for API rate limiting)
# If these are left blank, the application will bypass rate limiting and allow all requests.
KV_REST_API_URL=your_upstash_redis_rest_url_here
KV_REST_API_TOKEN=your_upstash_redis_rest_token_here
